* {
    font-family: Arial;
}


.banner {
    font-family: Arial;
    font-weight: bolder;
    color: white;
    text-align:center;
    padding-top: 10px;
    font-size: 30px;
    height: 50px;
    background-color: navy;
    background-image: linear-gradient(to right, rgb(51, 102, 255) , rgb(15, 43, 126));
}

.full-position {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-auto-rows: 400px;
}

.container1 {
    margin: 10px 10px 50px 10px;
    width: fit-content;
}

.input-box {
    margin-top:10px;
    margin-bottom: 10px;
    width: 300px;
    padding: 15px;
    border-color: rgb(209, 209, 209);
    border-radius: 5px;
    font-size: 20px;
}

.search-button {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(108, 143, 255);
    color: rgb(222, 222, 222);
    font-weight: bolder;
}

.spacer {
    height: 2px;
    background-color: rgb(209, 209, 209);
    margin-bottom: 20px;
}

button {
    display: block;
    margin-bottom: 20px;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(163, 163, 163);
}

.header-text {
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

.container2 {
    margin-top:10px;
    height: auto;
    border: 1px solid black;
    width: 1080px
}

h3 {
    margin: 15px 0px 15px 15px;
}

.icon-position {
    padding-top: 5px;
}

.sub-text {
    padding: 15px 0px 15px 15px;
}

h4 {
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 25px;
    margin-left: 10px;
}
.weather-card-container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-auto-rows: 200px;
    grid-gap: 20px;
}

.weather-card {
    height: auto;
    border: 1px solid black;
    background-color: rgb(64, 62, 71);
    color: white;
    border-radius: 10px;
}

.date-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.emoji-text {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.weather-text {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 5px;
}